.main__container {
    margin: 86px auto 0;
    // display: grid;
    // grid-template-columns: 14rem auto;
    // width: 96%;
    // gap: 1.8rem;
}

.page__content {
    margin-left: 15%;
    width: 85%;
}

@media screen and (max-width: 1328px) {
    .sidebar {
        width: 20%;
    }

    .page__content {
        margin-left: 20%;
        width: 80%;
    }
}

@media screen and (max-width: 1028px) {
    .page__content {
        margin-left: 0%;
        width: 100%;
    }

    .main__container {
        grid-template-columns: auto; 
    }

    .sidemenu__control{ 
        display: inline-block;
    }

    .sidebar {
        display: none;
        position: fixed;
        left: 0;
        background: #fff;
        width: 14rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100%;
        padding-right: var(--card-padding);
        overflow-y: auto;
    }
}

// @media screen and (max-width: 768px) {
    
// }
