// $primary-color: blue;

// h1 {
//   color: $primary-color;
// }

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --color-text: #213F7D;
    --color-purple: #DF18FF;
}

body{
    font-family: 'Work Sans', sans-serif;
}

.header {
    height: 86px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.sidebar {
    background: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all;
    
    .top{
        padding-left: 1.7rem;
    }
    .menu__item {
        padding-left: 1.7rem;
        transition: all;
    } 
    // height: 3.7rem;
}

.main__container {
    display: grid;
    // width: 96%;
    margin: 86px auto 0;
    // gap: 1.8rem;
    grid-template-columns: 14rem auto;
}

.menu__item:hover {
    background: #39cdcc30;
    border-left: 5px solid #39CDCC;
    cursor: pointer;
}

.group__menu .title {
    padding-left: 1.7rem;
}

.active__menu {
    background: #39cdcc30;
    border-left: 5px solid #39CDCC;
}

.sidemenu__control{ 
    display: none;
}

.sidebar.show {
    display: block;
}

@media screen and (max-width: 1200px) {
    // .main__container {
    //     grid-template-columns: auto; 
    // }

    // .sidebar {
    //     display: none;
    // }

}

@media screen and (max-width: 1028px) {
    .main__container {
        grid-template-columns: auto; 
    }

    .sidemenu__control{ 
        display: inline-block;
    }

    .sidebar {
        display: none;
        position: fixed;
        left: 0;
        background: #fff;
        width: 14rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100%;
        padding-right: var(--card-padding);
        overflow-y: auto;
    }

    
}

@media screen and (max-width: 768px) {
    
}
